body {
    margin: 0;
    overflow-y: overlay;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Jost";
    color: var(--tg-theme-text-color);
	
    box-sizing: border-box;
    background: rgba(8,11,30,1);
    background-image: url('../img/light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120vh;
}

#main {
    margin: 30px;
}

#main-sections {
    display: grid;
    grid-gap: 20px;
}

.main-section {
    width: 100%;
	height: 80px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 20px;
    color: var(--tg-theme-button-text-color, #fff);
    background: var(--tg-theme-button-color, #7391AA);
}

.main-skalp {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto;
}

.skalp {
    width: 100%;
	height: 80px;

	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;

	border-radius: 20px;
    color: var(--tg-theme-button-text-color, #fff);
    background: var(--tg-theme-button-color, #7391AA);
}

.main-foot {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto;
}

.foot {
    width: 100%;
	height: 80px;

	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;

	border-radius: 20px;
    color: var(--tg-theme-button-text-color, #fff);
    background: var(--tg-theme-button-color, #7391AA);
}

#abouts {
    display: none;
}

#faq-menu {
    display: none;
}
